* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container > div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  width: 300px;
  border: 1px solid black;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}

h2 {
  margin: 20px 0;
}

button {
  width: fit-content;
  border: 1px solid black;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
}
